<div style="text-align:left; margin-left: 20px">
  <h2>
    View Links
  </h2>
</div>
<mat-form-field style="margin-bottom: 15px; margin-left: 20px">
  <mat-label>Select  Category</mat-label>
  <mat-select [(value)]="category" (selectionChange)="getLinksByCategory()">
    <mat-option *ngFor="let name of categories" [value]="name">
      {{name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="margin-bottom: 15px; margin-left: 20px">
  <mat-label>Select Video Company</mat-label>
  <mat-select [(value)]="company" (selectionChange)="getLinksByCompany()">
    <mat-option value="">Select</mat-option>
    <mat-option value="player.vimeo">Vimeo</mat-option>
  </mat-select>
</mat-form-field>


<!--<mat-form-field style="margin-bottom: 15px; margin-left: 15px">
  <mat-label>Search Links</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search by category or playlist">
</mat-form-field>-->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Image Column -->
    <ng-container matColumnDef="imageLink">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><img src="{{element.imageLink}}" width="150" height="150" alt=""></td>
    </ng-container>

    <!-- Link Name Column -->
    <ng-container matColumnDef="linkName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Link Name </th>
      <td mat-cell *matCellDef="let element"> {{element.linkName}} </td>
    </ng-container>

    <!-- Link URL Column -->
    <ng-container matColumnDef="linkId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Link ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!--  Video URL Column -->
    <ng-container matColumnDef="videoUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Link Url </th>
      <td mat-cell *matCellDef="let element"> <a href="{{element.linkUrl+'?autoplay=1'}}"_target="blank"> {{element.linkUrl}}</a> </td>
    </ng-container>

    <!-- Edit Link Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td mat-cell *matCellDef="let element"> <button mat-fab color="secondary" (click)="editLink(element.id)">Edit</button>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[30, 20, 30]" showFirstLastButtons></mat-paginator>

  <table style="margin-top: 15px; margin-left: 15px">
    <tr>
      <td>
        <button mat-fab color="primary" [routerLink]="['/add-links']">Add</button>
      </td>
      <td>
        <button mat-fab color="primary" [routerLink]="['/add-playlist']">New Playlist</button>
      </td>
      <td>
        <button mat-fab color="primary" (click)="getBlockedLinks()">Blocked</button>
      </td>
    </tr>
  </table>
</div>
