<flash-messages></flash-messages>

<mat-card style="margin-bottom: 15px; margin-left: 20px">
  <form #linkForm="ngForm" (ngSubmit)="save(linkForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Add Link</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="links-container">
        <mat-form-field>
          <mat-label>Link Name</mat-label>
          <input matInput [(ngModel)]="link.linkName" placeholder="Link Name"
                 required name="linkName" #linkName maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link.linkUrl"
                 required name="linkUrl" #linkUrl maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Category</mat-label>
          <input matInput placeholder="Link Category" [(ngModel)]="link.linkCategory"
                 required name="linkCategory" #linkCategory maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Playlist A</mat-label>
          <input matInput placeholder="Playlist A" [(ngModel)]="link.playlistA"
                 name="playlistA" #playlistA maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Playlist B</mat-label>
          <input matInput placeholder="Playlist B" [(ngModel)]="link.playlistB"
                 name="playlistB" #playlistB maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Include as video of the day</mat-label>
          <input matInput placeholder="IncludeAsVideoOfDay" [(ngModel)]="link.includeAsVideoOfDay"
                  name="includeAsVideoOfDay" #includeAsVideoOfDay  [defaultValue]="false">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Include in main section</mat-label>
          <input matInput placeholder="includeInMainSection" [(ngModel)]="link.includeInMainSection"
                 name="includeInMainSection" #includeInMainSection [defaultValue]="false">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!linkForm.form.valid">Add Link</button>
      <a mat-button routerLink="/view-links">View Links</a>
    </mat-card-actions>
  </form>
</mat-card>

