<flash-messages></flash-messages>

<mat-card style="margin-bottom: 15px; margin-left: 20px">
  <form #linkForm="ngForm" (ngSubmit)="save(linkForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Edit Link</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="links-container">
        <mat-form-field>
          <input matInput placeholder="ID" [(ngModel)]="link.id"
                 required name="id" #id maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Link Name" [(ngModel)]="link.linkName"
                 required name="linkName" #linkName maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Link Url" [(ngModel)]="link.linkUrl"
                 required name="linkUrl" #linkUrl maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Link Category" [(ngModel)]="link.linkCategory"
                 required name="linkCategory" #linkCategory maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Is Deleted" [(ngModel)]="link.deletedFlag"
                 required name="deletedFlag" #deletedFlag >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Embed Blocked" [(ngModel)]="link.embedBlocked"
                 required name="embedBlocked" #embedBlocked >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Playlist A" [(ngModel)]="link.playlistA"
                 name="playlistA" #playlistA maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Playlist B" [(ngModel)]="link.playlistB"
                 name="playlistB" #playlistB maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date Added" [(ngModel)]="link.dateAdded"
                 required name="dateAdded" #dateAdded maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="IncludeAsVideoOfDay" [(ngModel)]="link.includeAsVideoOfDay"
                 required name="includeAsVideoOfDay" #includeAsVideoOfDay >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="includeInMainSection" [(ngModel)]="link.includeInMainSection"
                 required name="includeInMainSection" #includeInMainSection >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!linkForm.form.valid">Edit Link</button>
      <a mat-button routerLink='/view-links' [queryParams]="{category: this.category}">View Links</a>
    </mat-card-actions>
  </form>
</mat-card>

