<flash-messages></flash-messages>

<mat-card style="margin-bottom: 15px; margin-left: 20px">
  <form #linkForm="ngForm" (ngSubmit)="save(linkForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Add Link</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="links-container">
        <mat-form-field>
          <mat-label>Link Category</mat-label>
          <input matInput placeholder="Link Category" [(ngModel)]="linkCategory"
                 required name="linkCategory" #linkCategoryValue maxlength="50">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Playlist A</mat-label>
          <input matInput placeholder="Playlist A" [(ngModel)]="playlistA"
                 required  name="playlistA" #playlistAValue maxlength="50">
        </mat-form-field>
        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name One</mat-label>
          <input matInput [(ngModel)]="link1.linkName" placeholder="Link Name"
                 name="link1Name" #link1Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url One ** WE ONLY NEED THE SHORT CODE</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link1.linkUrl"
                 name="link1Url" #link1Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Two</mat-label>
          <input matInput [(ngModel)]="link2.linkName" placeholder="Link Name"
                 name="link2Name" #link2Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Two</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link2.linkUrl"
                 name="link2Url" #link2Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Three</mat-label>
          <input matInput [(ngModel)]="link3.linkName" placeholder="Link Name"
                 name="link3Name" #link3Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Three</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link3.linkUrl"
                 name="link3Url" #link3Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Four</mat-label>
          <input matInput [(ngModel)]="link4.linkName" placeholder="Link Name"
                 name="link4Name" #link4Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Four</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link4.linkUrl"
                 name="link4Url" #link4Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Five</mat-label>
          <input matInput [(ngModel)]="link5.linkName" placeholder="Link Name"
                 name="link5Name" #link5Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Five</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link5.linkUrl"
                 name="link5Url" #link5Url maxlength="100">
        </mat-form-field>

        <br/><br/>
      <mat-form-field>
          <mat-label>Link Name Six</mat-label>
          <input matInput [(ngModel)]="link6.linkName" placeholder="Link Name"
                 name="link6Name" #link6Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Six</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link6.linkUrl"
                 name="link6Url" #link6Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Seven</mat-label>
          <input matInput [(ngModel)]="link7.linkName" placeholder="Link Name"
                 name="link1Name" #link7Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Seven</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link7.linkUrl"
                 name="link7Url" #link7Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Eight</mat-label>
          <input matInput [(ngModel)]="link8.linkName" placeholder="Link Name"
                 name="link8Name" #link8Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Eight</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link8.linkUrl"
                 name="link8Url" #link8Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Nine</mat-label>
          <input matInput [(ngModel)]="link9.linkName" placeholder="Link Name"
                 name="link9Name" #link9Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Nine</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link9.linkUrl"
                 name="link9Url" #link9Url maxlength="100">
        </mat-form-field>

        <br/><br/>
        <mat-form-field>
          <mat-label>Link Name Ten</mat-label>
          <input matInput [(ngModel)]="link10.linkName" placeholder="Link Name"
                 name="link10Name" #link9Name maxlength="100">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link Url Ten</mat-label>
          <input matInput placeholder="Link Url" [(ngModel)]="link10.linkUrl"
                 name="link10Url" #link10Url maxlength="100">
        </mat-form-field>


      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!linkForm.form.valid">Add Link</button>
      <a mat-button routerLink="/view-links">View Links</a>
    </mat-card-actions>
  </form>
</mat-card>
